@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<h3>This is a Library ASP.Net application that allows add, store, delete, take and return books. Library tracks it`s users every time they take or return books.</h3>
<h3>Only admin can add and delete books or change their quantity. Admin can also see history of every book, if he visits it`s page. Others will see only book title, authors and description.</h3>
<h3>Library allows to store several books with the same title as long as they have different authors.</h3>
<h3>To take a book user should register. If he has entered correct email, he will get notifications each time he takes a book. Messages are sent from the admin`s email.</h3>
